<div class="input-wrap">
	<label>{lang=add_file_thumb_fb}</label>		
	<div class="add-file-input">
		<button class="change_input" value="file">{lang=add_file_normal}</button>
		<button class="change_input" value="link">{lang=add_file_url}</button>
		<input type="file" class="full_width" name="file_thumb" value="" />		
		<input class="full_width" type="text" title="{lang=add_http_url}" placeholder="{lang=add_http_url}" name="link_thumb" value="{$post_link_thumb}" style="display:none"/>
	</div>
</div>