<link rel="stylesheet" media="screen" type="text/css" href="libs/ColorPicker/ColorPicker/css/colorpicker.css" />
<script type="text/javascript" src="libs/ColorPicker/ColorPicker/js/colorpicker_merged_ips.js"></script>

<label class="h3_bold">{lang=add_color}</label>

<div id="upload_color" class="upload_color_select color_select_container" data-color="{$font_color}">
	<div style="background-color: {$font_color};"></div>
	<input type="hidden" class="font_color" name="font_color" value="{$font_color}" />
</div>

