<script type="text/javascript" src="/libs/tinyeditor/tiny.editor.packed.js"></script>
<link rel="stylesheet" href="/libs/tinyeditor/tinyeditor.css">

<div class="add-new-file">


	<form id="upload_form" name="upload_form" action="/upload/article" method="post" enctype="multipart/form-data">
		
		<div class="input-wrap">
			<label for="title" class="h3_bold">{lang=add_title}<b>(*)</b></label>
			<input id="title" name="title" type="text" maxlength="255" value="{$post_title}" class="up-verify" data-alert="{lang=err_title}" />
		</div>	
		
		<div id="up_image_file" class="input-wrap up_image">
			{function="Upload_Helper::dropzone('image', true)"}
			<input type="hidden" value="{$post_upload_url}" />
			<button class="up_file_change display_none">{lang=up_dropzone_reload}</button>
		</div>
		
		<div class="input-wrap up_article up_long_text">
			<textarea id="article_content" name="long_text" class="tinyeditor">{$post_long_text}</textarea>
			<script type="text/javascript">
				tinyEditor( 'article_content' );
			</script>
		</div>	


		{if="USER_ADMIN"}
			{include="/upload/up_add_thumb.html"}		
		{/if}

		{if="Config::get('upload_tags')"}
			{include="/upload/up_tags.html"}		
		{/if}
		
		{if="Config::get('add_source')"}
			{include="/upload/up_source.html"}	
		{/if}
		
		{if="Config::get('categories_option') == 1"}
			{include="/upload/up_pick_category.html"}
		{/if}
		
		{if="Config::get('add_captcha') == 2 || ( Config::get('add_captcha') == 1 && !USER_LOGGED ) "}
			{include="/upload/up_captcha.html"}
		{/if}
		
		<input type="hidden" name="edit_id" value="{$edit_id}" />
		<input type="hidden" name="_token" value="{$edit_id|csrf_token}" />
		
		<div class="add-actions-bottom">
			
			{if="Config::get('add_private_files')"}
				{include="/upload/up_is_private.html"}	
			{/if}
		
			{if="Config::get('add_is_adult_field')"}
				{include="/upload/up_is_adult.html"}
			{/if}
			
			{if="Config::get('add_require_rules')"}
				{include="/upload/up_require_rules.html"}
			{/if}
			
			<a class="submit button-link cancel" href="/">{lang=add_cancel}</a>
			
			<button class="submit" id="add-form-submit">{lang=common_add}</button>
		
		</div>
	</form>
</div>

