<div class="add-new-file upload_demot">
	
	<form id="upload_form" name="upload_form" action="/upload/demotywator" method="post" enctype="multipart/form-data">		
		
		{if="Config::get('upload_demotywator_text', 'hide_title') == 1"}	
		<div class="input-wrap display_none">
			<label for="top_line" class="h2_bold">{lang=add_title}</label>
			<div class="up_title_hide">
				<textarea name="top_line" value="{$post_top_line}" class="display_none up-verify" data-alert="{lang=err_title}"></textarea>
				<div class="input-wrap i-check display_none">
					<label>{lang=add_demot_hide_title}</label>
					<input type="checkbox" name="up_title_hide" value="true" />
				</div>
			</div>
		</div>
		{/if}
		
		<input type="hidden" name="bottom_line" value="{$post_bottom_line}" class="up-verify" data-alert="true" />
		
		<textarea class="display_none" name="bottom_line_json">{$post_bottom_line_json}</textarea>
		<textarea class="display_none" name="top_line_json">{$post_top_line_json}</textarea>
		
		<input type="hidden" name="upload_url" value="{$post_upload_url}" />
		<input type="hidden" name="upload_video_url" value="{$post_upload_video_url}" />
		
		<input type="hidden" name="top_line_layers" value="" />
		<input type="hidden" name="bottom_line_layers" value="" />
		
		
		
		<div id="up_video_file" class="input-wrap up_video {$video_on}">
			{function="Upload_Helper::dropzone('video')"}
			<input type="hidden" value="{$post_upload_video_url}" />
			<button class="up_file_change display_none">{lang=up_dropzone_reload}</button>
		</div>
		
		<div id="up_image_file" class="input-wrap up_image {$image_on}">
			{function="Upload_Helper::dropzone('image')"}
			<input type="hidden" value="{$post_upload_url}" />
			<button class="up_file_change display_none">{lang=up_dropzone_reload}</button>
		</div>
		
		{include="/upload/up_text_canvas.html"}
		
		<div class="up_file_preview">
			<div class="canvas_lines">
				
				<div class="loader display_none">
					<img width="48" height="48" src="/images/svg/spinner.svg">
				</div>
				
				<div class="canvas_wrap_line top_line">
					{function="Canvas_Helper::toolbar('demotywator', 'top')"}
					<div class="canvas_wrap">
				
						{include="/upload/up_canvas_editor.html"}
						
						<div class="container-shadow"><span>{lang=add_top_line}</span></div>

					</div>
					
				</div>
				
				<div class="canvas_wrap_line bottom_line">
					{function="Canvas_Helper::toolbar('demotywator', 'bottom')"}
					<div class="canvas_wrap">
				
						{include="/upload/up_canvas_editor.html"}
						
						<div class="container-shadow"><span>{lang=add_bottom_line}</span></div>

					</div>
					
				</div>
			</div>
		</div>
		
		
		{if="USER_ADMIN"}
			{include="/upload/up_add_thumb.html"}		
		{/if}
		
		{if="Config::get('upload_tags')"}
			{include="/upload/up_tags.html"}		
		{/if}
		
		{if="Config::get('add_source')"}
			{include="/upload/up_source.html"}	
		{/if}

		{if="Config::get('categories_option') == 1"}
			{include="/upload/up_pick_category.html"}
		{/if}
		
		
		{if="$extra_description"}	
			{include="/upload/up_extra_description.html"}	
		{/if}

		{if="Config::get('add_captcha') == 2 || ( Config::get('add_captcha') == 1 && !USER_LOGGED ) "}
			{include="/upload/up_captcha.html"}	
		{/if}
		
		<div class="add-actions-bottom">
			{if="Config::get('add_private_files')"}
				{include="/upload/up_is_private.html"}	
			{/if}
		
			{if="Config::get('add_is_adult_field')"}
				{include="/upload/up_is_adult.html"}
			{/if}
			
			{if="Config::get('add_require_rules')"}
				{include="/upload/up_require_rules.html"}
			{/if}
			<a class="submit button-link cancel" href="/">{lang=add_cancel}</a>
			<button class="submit" id="add-form-submit">{lang=common_add}</button>

		</div>
		
		<input type="hidden" name="MAX_FILE_SIZE" value="{$max_file_size}" />
		<input type="hidden" name="upload_subtype" value="{$upload_subtype}" />
		<input type="hidden" name="edit_id" value="{$edit_id}" />
		<input type="hidden" name="_token" value="{$edit_id|csrf_token}" />			
	</form>	
	
	<button id="add_smilar">
		<span>{lang=add_smilar_search}</span>
	</button>
	<div id="add_smilar_result">
		<img width="48" height="48" src="/images/svg/spinner.svg">
	</div>
	
</div>	

