<!DOCTYPE html>
<html lang="pl" xmlns:fb="http://ogp.me/ns/fb#">

	{include="header.html"}
	
	<body class="{$body_class}">
	<noscript>
		<div class="noscriptmsg">
			{lang=noscript}
		</div>
	</noscript>
	
		<div id="fb-root"></div>
			
		<div id="all_page">	
			<!-- #all_page -->
			{if="!isset( $minimal_layout )"}
				{include="base_menu.html"}
			{/if}
			
			<!-- #hook before_content-->
			{hook="before_content"}
			<!-- /hook -->
			
			{$side_block}
			
				<div id="content">
					<!-- #content -->
					
						<div class="sub-content">
						<!-- sub-content -->
						{$body_content}
						<!-- END sub-content -->
						</div>
						
					<!-- #content -->
				</div>
			
				<div id="bottom-widgets">
				<!-- #hook after_content-->
				{hook="display_paginator"}
				{hook="after_content"}
				<!-- /hook -->
				</div>		
				
		<!-- #all_page -->
		</div>
		{hook="before_footer"}
		
		{if="!isset( $minimal_layout )"}
			{include="base_footer.html"}
		{/if}
		
		{hook="after_footer"}
		
		{hook="init_end"}
	</body>
</html>

