<div class="user-info">

	<div class="user-date">
		<b>{lang=user_profile_in_site}</b>
		<span>{$date_add}</span>
	</div>
	
	<div class="user-date">
		<b>{lang=user_last}</b>
		<span>{$user_last_visit}</span>
	</div>
	
	<div class="user-info-stats">
		<ul>
			<li>{lang=user_add} <span>{$user_uploads}</span></li>
			<li>{lang=user_top} <span>{$added_main}</span></li>
			<li>{lang=user_wait} <span>{$added_wait}</span></li>
			<li>{lang=user_com} <span>{$user_comments}</span></li>
			<li>{lang=user_comv} <span>{$comments_opinion}</span></li>
			<li>{lang=user_addv} <span>{$posts_opinion}</span></li>
		</ul>
	</div>
	
</div>