<div id="widget_social_bookmark">
	<div class="boks">
		<a class="social_nk" target="_blank" href="http://nasza-klasa.pl/sledzik?shout={$file_url}" rel="nofollow" title="{lang=widget_social_nk}"></a>
		<a class="social_fb" target="_blank" href="https://www.facebook.com/sharer.php?u={$file_url}&t={$title}" rel="nofollow" title="{lang=widget_social_fb}"></a>
		<a class="social_gg" target="_blank" href="gg:/set_status?description={$file_url}" rel="nofollow" title="{lang=widget_social_gg}"></a>
		<a class="social_forum" target="_blank" href="http://www.forumowisko.pl/index.php?app=forums&module=post&section=post&do=new_post&f=76&get_title={$title}&get_post={$file_url}" rel="nofollow" title="{lang=widget_social_forum}"></a>
		<a class="social_jm" target="_blank" href="http://www.joemonster.org/upload.php?fromNet=true&url={$img_social_share}" rel="nofollow" title="{lang=widget_social_jm}"></a>
		<a class="social_wykop" target="_blank" href="http://www.wykop.pl/dodaj?url={$file_url}&title={$title}&desc=Super materiał!" rel="nofollow" title="{lang=widget_social_wykop}"></a>
	</div>
</div>

