{if="!empty( $facebook_fan_box )"}
<div id="float_facebook_box" class="widget-social-float icons-{$slider_class}">
	<i></i>
	<div class="float-box-content">{$facebook_fan_box}</div>
</div>
{/if}
{if="!empty( $button_google )"}
<div id="float_google_box" class="widget-social-float icons-{$slider_class}">
	<i></i>
	<div class="float-box-content">{$button_google}</div>
</div>
{/if}
{if="!empty( $twitter_box )"}
<div id="float_twitter_box" class="widget-social-float icons-{$slider_class}">
	<i></i>
	<div class="float-box-content">{$twitter_box}</div>
</div>
{/if}