<script type="text/javascript" src="/libs/galleries/simple/lib/black-jquery.jcarousel.min.js"></script>
<link rel="stylesheet" type="text/css" href="/libs/galleries/simple/skins/black/skin.css" />
<div class="gallery_intro">
	<p>{$intro_text}</p>
	<div id="gallery_images" class="pirobox">
		<ul id="mycarousel" class="jcarousel-skin-black" style="display:none;">
		{loop="$gallery_images"}
		<li>
			<a href="{$seo_link}#image-{$key}" class="simple_gallery_link">
				<img id="item-{$key}" src="{$value.src}" width="75" height="75" />
			</a>
		</li>
		{/loop}
		</ul>
	</div>
	<div class="simple_gallery_container"></div>
</div>