<div class="content_tabs tabbed_area">
	
	<div class="caption_small"><span class="caption">{lang=small_caption_add_setting}</span></div>
	<form action="" enctype="multipart/form-data" method="post">
		<div class="option-cnt ">
			<span>
				{lang=add_settings_name}
			</span>
			<div class="option-inputs ">
				<input value="" type="text" style="width: 300px; " name="key" />
			</div>
		</div>
		
		<div class="option-cnt ">
			<span>
				{lang=add_settings_value}
			</span>
			<div class="option-inputs ">
				<input value="" type="text" style="width: 300px; " name="value" />
			</div>
		</div>
		
		<div class="option-cnt ">
			<span>
				{lang=add_settings_autoload}
			</span>
			<div class="option-inputs ">
				<select name="autoload" style="width: 140px;">
					<option value="on" selected="selected">on</option>
					<option value="off">off</option>
				</select>
			</div>
		</div>
		
		<div class="option-cnt ">
			<span><input name="form" type="submit" class="button" value="{lang=save}" /></span>
		</div>
	</form>
</div>

<div class="content_tabs tabbed_area">
	<div class="caption_small"><span class="caption">{lang=small_caption_add_lang}</span></div>
	
	<form action="" enctype="multipart/form-data" method="post">
	
		<div class="option-cnt ">
			<span>
				{lang=add_language_name}
			</span>
			<div class="option-inputs ">
				<input value="" type="text" style="width: 300px; " name="language-key" />
			</div>
		</div>
		
		<div class="option-cnt ">
			<span>
				{lang=add_language_value}
			</span>
			<div class="option-inputs ">
				<input value="" type="text" style="width: 300px; " name="language-value" />
			</div>
		</div>
		<div class="option-cnt ">
			<span><input name="form" type="submit" class="button" value="{lang=save}" /></span>
		</div>
	</form>
</div>
