<div class="tabbed_area update-messages">		
	<a href="{function="admin_url( 'update', 'action=clear' )"}" class="button">{lang=updates_clear_data}</a>
	<div class="div-info-message">
		<p>{lang=updates_info_3}</p>
	</div>
</div>

<div class="tabbed_area update-messages">		
	<a href="{function="admin_url( 'update', 'action=update_license' )"}" class="button">{lang=updates_update_token}</a>
	<div class="div-info-message">
		<p>{lang=updates_info_4}</p>
	</div>
</div>

<div class="tabbed_area update-messages">		
	<a href="{function="admin_url( 'update', 'action=update_disable' )"}" id="update_disable" class="button">{lang=updates_disable}</a>
	<div class="div-info-message" id="updates_disable_confirm" title="{lang=updates_disable_confirm}">
		<p>{lang=updates_info_7}</p>
	</div>
</div>