<div class="inputs-wrap simple-page section-max">
	<div class="login-content">
		<form method="post" action="/login/reset_password">					

			<div class="input-wrap">
				<input name="reset_password" class="text-input" type="text" placeholder="{lang=user_set_email}" />
			</div>

			<input class="button" type="submit" value="{lang=user_reset_password}" />
		
		</form>
	</div>

	<div class="form-actions">
		<span class="action"><a href="#" onclick="userAuth('register');return false;">{lang=user_actions_register}</a></span>
		<span class="action"><a href="/login/resend_activation">{lang=user_actions_activation_link}</a></span>
	</div>
</div>
