<div class="inputs-wrap simple-page section-max">
	<div class="login-content">
		<form method="post" action="/login/save_password">					
			
			<div class="input-wrap">
				<input name="save_password[pasword]" class="text-input" type="password" placeholder="{lang=edit_profile_password}" />
			</div>
			<div class="input-wrap">
				<input name="save_password[pasword_repeat]" class="text-input" type="password" placeholder="{lang=edit_profile_repeat_password}" />
			</div>
			<input name="hash" type="hidden" value="{$hash}" />
		
			<input class="button" type="submit" value="{lang=user_reset_password_save}" />
		
		</form>
	</div>

	<div class="form-actions">
		<span class="action"><a href="#" onclick="userAuth('register');return false;">{lang=user_actions_register}</a></span>
		<span class="action"><a href="/login/resend_activation">{lang=user_actions_activation_link}</a></span>
	</div>
</div>
