
	<div id="fb-multiload"></div>
	<script type="text/javascript" >
		idStart = false;
		containerSlide = "{$action}";
	</script>

	<div id="fast-top">
		<div class="fast-top-div" id="fast-top-text">
			<a id="fast-logo" href="{#ABS_URL#}"><img src="{#ABS_URL#}images/{$logo}" /></a>
			<span id="to-load"></span>
			<div class="clear_both"></div>
		</div>
		<div class="fast-top-div" id="fast-top-container">
			
			<span id="to-load-likes"></span>
			
			<div class="clear_both"></div>
		</div>
       <div class="clear_both"></div>
    </div>
	<div>
		<a href="#" class="fast-slider-nav" id="go-prev"></a>
		<a href="#" class="fast-slider-nav" id="go-next"></a>
	</div>
	<div class="fast-overflow-container">
		<ul id="fast-slider"></ul>	
	</div>	
	<div id="footer_fast">
		<span>{lang=fast_nav}</span>
	</div>
</div>