<select name="report_subject" id="report_subject" style="width: auto">
	<option value="report_content">{lang=report_content}</option>
	<option value="report_violence">{lang=report_violence}</option>
	<option value="report_adult">{lang=report_adult}</option>
	<option value="report_combo">{lang=report_combo}</option>
	<option value="report_adult">{lang=report_spam}</option>
	<option value="report_privacy">{lang=report_privacy}</option>
	<option value="report_copy">{lang=report_copy}</option>
	<option value="report_duplicate" data-url="true">{lang=report_duplicate}</option>
	<option value="report_other" data-url="true">{lang=report_other}</option>
</select>
