<form method="post" action="/login/save_password">	
	
	<div class="inputs-wrap simple-page section-max">
		
		<h3>{lang=user_reset_password_title}</h3>
		
		<div class="login-content">			
			<div class="input-wrap">
				<input name="save_password[pasword]" class="text-input" type="password" placeholder="{lang=edit_profile_password}" />
			</div>
			<div class="input-wrap">
				<input name="save_password[pasword_repeat]" class="text-input" type="password" placeholder="{lang=edit_profile_repeat_password}" />
			</div>
			<input name="hash" type="hidden" value="{$hash}" />
		</div>
		
		<div class="form-actions">
			<a class="action" href="/login/">{lang=user_actions_back_login}</a>
			<input class="button form-action" type="submit" value="{lang=user_reset_password_save}" />
		</div>
		
	</div>
	
</form>