<form method="post" action="/login/resend_activation">	
	
	<div class="inputs-wrap simple-page section-max">
		
		<h3>{lang=user_resend_activation_title}</h3>
		
		<div class="login-content">			
			<div class="input-wrap">
				<input name="resend_activation" class="text-input" type="text" placeholder="{lang=user_set_email}" />
			</div>
		</div>
		
		<div class="form-actions">
			<a class="action" href="/login/">{lang=user_actions_back_login}</a>
			<input class="button" type="submit" value="{lang=user_resend_activation}}" />
		</div>
		
	</div>
	
</form>