<form method="post" action="/login/reset_password">	
	
	<div class="inputs-wrap simple-page section-max">
		
		<h3>{lang=user_reset_password_title}</h3>
		
		<div class="login-content">	
			<div class="input-wrap">
				<input name="reset_password" class="text-input" type="text" placeholder="{lang=user_set_email}" />
			</div>
		</div>
		
		<div class="form-actions">
			<a class="action" href="/login/">{lang=user_actions_back_login}</a>
			<input class="button form-action" type="submit" value="{lang=user_reset_password}" />
		</div>
		
	</div>
	
</form>