<div class="edit_profile">
	<h4>{lang=edit_password}</h4>
	
	<form action="" method="post">
	
		<div class="input-wrap">
			<label for="">{lang=edit_profile_old_password}</label>
			<input type="password" name="old_password" value="" />
		</div>	
		
		<div class="input-wrap">
			<label for="">{lang=edit_profile_password}</label>
			<input type="password" name="password_change" value="" />
		</div>	

		<div class="input-wrap">
			<label for="">{lang=edit_profile_repeat_password}</label>
			<input type="password" name="password_change_repeat" value="" />
		</div>	
		
		<div class="edit-actions">	
			<a href="/edit_profile" class="submit button-link cancel">{lang=common_back}</a>
			<button name="submit" class="button-link">{lang=save_changes}</button>
		</div>	
		
	</form>	
			
</div>	
